<h1> <%= @forum.movie.name %>: <%= @forum.name %></h1>

<% @forum.posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= post.image %></p>

  <% if post.video.present? %>

   <iframe width="300" height="200"
    src="<%= post.video.sub("www.youtube.com/watch?v=", "www.youtube.com/embed/") %>"
    frameborder="0" allowfullscreen></iframe>
  <% end %>

<% end %>

<%= link_to "New Post", new_post_path(forum_id: @forum.id) %>
