<h1><%= @movie.name %></h1>
<p>Genre: <%= @movie.genre %></p>
<p>Plot: <%= @movie.plot %></p>
<p>
  <% if @movie.absolute_image %>
    <img src="<%= @movie.absolute_image %>" />
  <%else%>
    <%= cl_image_tag @movie.image, class: 'movie-image' %>
  <%end%>
</p>


<h2> List of topics </h2>
<ul>
  <% @movie.forums.each do |forum| %>
    <p><%= link_to forum.name, forum_path(forum.id) %></p>
  <%end%>
</ul>

<% if @forum.errors %>
  <ul>
    <% @forum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
  </ul>
<%end%>

<%= form_for @forum do |f|%>
  <input type="hidden" name="forum[movie_id]" value="<%= @movie.id %>" />
  <p>
  <h4> Add new topic</h4>
  <p>
    <%= f.label :Topic %>
    <%= f.text_field :name %>
  </p>

  <%= f.submit %>
<%end%>
