<h2><%= @movie.name %></h2>
<p>Genre: <%= @movie.genre %></p>
<p>Plot: <%= @movie.plot %></p>
<p><img src="<%= @movie.image %>" /></p>
  <% image_tag @movie.image, class: 'movie-image' %></p>


<h4><%= @movie.name %> List of forums </h4>
<ul>
  <% @movie.forums.each do |forum| %>
    <p><%= link_to forum.name, forum_path(forum.id) %></p>
  <%end%>
</ul>

<% if @forum.errors %>
  <ul>
    <% @forum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
  </ul>
<%end%>

<%= form_for @forum do |f|%>
  <input type="hidden" name="forum[movie_id]" value="<%= @movie.id %>" />
  <p>
  <h4> Add new forum</h4>
  <p>
    <%= f.label :Forum %>
    <%= f.text_field :name %>
  </p>

  <%= f.submit %>
<%end%>
