<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>

    <div class="container">

    <div class="navigation">

      <ul class=nav>
        <% unless @current_user.present? %>

        <li><%= link_to "Create Account", sign_up_path %></li>
        <li><%= link_to "LogIn", login_path %></li>
        <% else %>
        <li> <%= link_to "LogOut", log_out_path, class: "item", method: "delete"%> </li>
        <% end %>
        <li><%= link_to "Home", root_path %></li>

      </ul>

        <%= image_tag "/assets/project1Logo.png", class: "logo" %>
<div class="account">
<% if @current_user.present? %>
<p> Hi, <%= @current_user.name %></div>
        <% end %>
    </div></p>

    <div class="maincontent">
      <p><p><i>
         <%= render "includes/flash_notices" %></i>
         <%= yield %>


         </div>

       </div>

  </body>
</html>
