<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">
    <div id="navigation">
      <%= image_tag "/assets/project1Logo.png", class: "logo" %>
      <p><%= link_to "Home", root_path %><%= link_to "LogIn", login_path %> <%= link_to "LogOut", root_path %> <%= link_to "Create Account", sign_up_path %><p>
    </div>

    <h4>Hi, <%= @current_user.name %></h4>
    <p>
         <%= render "includes/flash_notices" %>
         <%= yield %>

         <ul>
           <% unless @current_user.present? %>
           <li><!--%= link_to("movies#index", movie_path) %--></li>
             <li><%= link_to("Sign Up", sign_up_path) %></li>
             <li><%= link_to("Log In", login_path) %></li>
           <% else %>
             <li><%= link_to("Log Out", log_out_path, :method => :delete) %></li>
           </p>
           <% end %>
         </ul>
       </div>

  </body>
</html>
